@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
body{
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
header{
    color: white;
    padding-top: 20px;
    background-color: #782221;
}
.profil{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    box-shadow: 0 0 10px 10px;
}
h1, h2{
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 3rem;
}
address{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #2c1d27;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
div.body{
    display: flex;
}
aside{
    width: 25%;
    background-color: #782221;
    padding-right: 20px;
}
h3{
    background-color: #dbc2a4;
    padding-left: 10px;
    margin: 10px 0 10px 0;
    font-size: large;
}
p.perso{
    text-indent: 2rem;
    padding-left: 10px;
    text-align: justify;
    color: white;
}
ul.perso{
    padding-left: 30px;
}
ul.perso > li{
    color: white;
}
main{
    width: 75%;
    padding-left: 20px;
    padding-right: 10px;
    border-right: 1px solid black;
}
h3.pro{
    border-left: 3px solid #782221;
}
h4{
    padding: 10px 0 10px 0;
}
p.date{
    padding-bottom: 10px;
}
ul.pro{
    padding-left: 50px;
    padding-bottom: 20px;
}
p.pro{
    padding-bottom: 20px;
}
footer{
    background-color: #782221;
    padding: 10px 0 10px 0;
}
div.logo{
    display: block;
    text-align: center;
}
img.logo{
    height: 80px;
    width: 80px;
    border-radius: 5%;
}
p.update{
    text-align: center;
    color: white;
    padding-top: 10px;
}
address > a:hover{
    text-decoration: underline;
}
img.logo:hover{
    opacity: 0.8;
}
.profil:hover{
    cursor: zoom-in;
}
section.pro:hover, .skill:hover{
    border-right: 3px solid  #782221;
}